body {
  background: silver;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start to HEADER, NAV Section */
header {
  background-color: rgb(24, 49, 49);
  border-bottom: 4px solid rgb(194, 110, 7);
}
.nav__logo-section {
  display: flex;
  
}
.nav__logo-section h1 {
  color: white;
  margin: 0 0 0 4px;
}
.nav__menu {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  
}

/* Start to LINK Section */
.nav__menu li a {
  /* background-color: maroon; */
  /* margin: 4px; */
  display: inline-block;
  padding: 4px;
  
}
.nav__logo-section a:link,
.nav__logo-section a:visited {
  color: rgb(194, 110, 7);
  text-decoration: none;
}
.nav__menu li a.active:link,
.nav__menu li a.active:visited {
  color: orange;
}
.nav__menu li a:link,
.nav__menu li a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
} /* END OF: Link section */


.nav {
  display: flex;
  justify-content: space-between;
  
  width: 80%;
  margin: 0 auto;
  padding: 25px 0;
} /* END OF: Header Section */

/* Start to Banner Section */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000 url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80') no-repeat;
  background-size: cover;
  color: orange;
}
.banner__content {
  width:80%;
  padding:60px 0;
  /* height: 30vh; */
  /* background: #000; */
}
.banner__content h1 {
  text-align: center;
}
.banner__content p {
  text-align: center;
  margin:10px 0;
} /* END OF Banner Section */

/* START TO Subscribe Section */

.subscribe {
  padding: 30px 0;
  background-color: rgb(24, 49, 49);
}

.subscribe__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  color: #fff;
} 

.subscribe__inputs button {
  background-color: rgb(255, 102, 0);
}

.subscribe__inputs button,
input[type="email"] {
  padding: 5px 10px;
  border: none;
}

/* END TO Subscribe Section */

/* START TO Skills Section */

.skills__container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.column .fa {
  font-size:12.3rem;
}

.fa-html5 {
  color: rgb(255, 102, 0);
}

.fa-css3 {
  color: darkblue;
}

.fa-js {
  color: darkgreen;
}

.column p {
  padding: 10px;
}

.column h3,
.column p {
  text-align: center;
  margin: 8px 0;
} /* END TO SKills section */

/* Start to Footer section styles */
.footer__container {
  background-color: rgb(255, 102, 0);
  padding:30px 0;
  color: white;
}
.footer__container p {
  text-align: center;
}